pipeline/Copy Data From Web.json
{
	"name": "Copy Data From Web",
	"properties": {
		"activities": [
			{
				"name": "Copy NY Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Source_Ny_Taxi",
						"type": "DatasetReference",
						"parameters": {
							"Filename": {
								"value": "@pipeline().parameters.p_FileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "NY_Taxi",
						"type": "DatasetReference",
						"parameters": {
							"DateDir": {
								"value": "@variables('Date')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Date",
					"value": {
						"value": "@formatDateTime(utcnow(), 'ddMMyyyy')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_FileName": {
				"type": "string",
				"defaultValue": "yellow_tripdata_2021-07.csv"
			}
		},
		"variables": {
			"Date": {
				"type": "String",
				"defaultValue": "20220228"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-02-28T08:35:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}